{% extends "management/base.html" %}
{% block Title %}Dashboard{% endblock Title %}


{% block body %}
{% comment %} dashboard Titles{% endcomment %}
<div class="stats-cards d-flex flex-wrap justify-content-between m-4">

    {% comment %} stats section {% endcomment %}
    <div class="stats-container d-flex flex-wrap align-items-center ">
<div class="card text-white bg-primary m-3" style="max-width: 20rem;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Total Learners</div>
    <div class="card-body" bis_skin_checked="1">
      <h4 class="card-title">{{total_students}} <i class="ri-user-line"></i></h4>
      <p class="card-text">Total Learners enrolled.</p>
    </div>
  </div>
  <div class="card text-white bg-info m-3 " style="max-width: 20rem;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Active Learners</div>
    <div class="card-body" bis_skin_checked="1">
      <h4 class="card-title">{{active_students_count}} <i class="ri-user-fill"></i> </h4>
      <p class="card-text">Current active learners.</p>
    </div>
  </div>

  <div class="card text-white bg-success m-3" style="max-width: 20rem;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Total Staffs</div>
    <div class="card-body" bis_skin_checked="1">
      <h4 class="card-title">{{total_staffs}} <i class="ri-user-follow-fill"></i></h4>
      <p class="card-text">Available staffs.</p>
    </div>
  </div>
  <div class="card text-white bg-danger m-3" style="max-width: 20rem;" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">Unpaid Invoices</div>
    <div class="card-body" bis_skin_checked="1">
      <h4 class="card-title">{{unpaid_invoices}} <i class="ri-bill-line"></i></h4>
      <p class="card-text">Unpaid</p>
    </div>
  </div>
</div>
{% comment %} stats section ends  
notifications center starts {% endcomment %}
  <div class="m-4">
  <h4>Notifications <i class="ri-notification-line"></i></h4>
  <div class="alert alert-dismissible alert-info" bis_skin_checked="1">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Hurray!</strong> We added a <a href="#" class="alert-link">New feature</a>, Check it out!
  </div>
  <div class="alert alert-dismissible alert-danger" bis_skin_checked="1">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Opps!</strong> <a href="#" class="alert-link">Your trial is ending </a>on 3 days renew now!.
  </div>
</div>
{% comment %} notifications center ends {% endcomment %}
</div>
{% comment %} dashboard titles ends {% endcomment %}

{% comment %} student dashboard starts {% endcomment %}

<div class="container-fluid">
  <h4><i class="ri-list-check mt-0 mb-0 m-3"></i> Learners List</h4>
  <div class="row">
    <div class="col-12">
      {% if students %}
      <div class="card text-white bg-primary m-3" bis_skin_checked="1">
        <div class="card-header" bis_skin_checked="1"><i class="ri-user-fill"></i> LEARNERS RECORD</div>
        <div class="card-body" bis_skin_checked="1">
          
          <form class="d-flex">
            <input class="form-control me-sm-2" style="max-width: 20rem;" type="search" placeholder="Search Student">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="ri-search-line"></i></button>
          </form>
          <p class="card-text">
            <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr class="table-primary">
                  <th scope="col">ID</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Date Enrolled</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Time Slot</th>
                  <th scope="col">Vechile Type</th>
                  <th scope="col">Staff Assigned</th>
                  <th scope="col">Enrollment</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
             {% for student in students %}
             <tr>
              <td>{{ student.id }}</td>
              <td>{{ student.student_name }}</td>
              <td>{{ student.date_enrolled }}</td>
              <td>{{ student.phone_number }}</td>
              <td>{{ student.time_slot }}</td>
              <td>{{ student.vehicle_type }}</td>
              <td>{{ student.staff_assigned }}</td>
              <td>{{ student.enrollment_status}}</td>
              <td>{{ student.payment_status}}</td>
              <td><a type="button" class="btn btn-primary" href="{% url 'view_student' student.id%}" data-bs-toggle="modal" data-bs-target="#mymodal{{student.id}}"
                ><i class="ri-eye-line"></i></a>
              <a href="{% url "editstudent" student.id %}" class="btn btn-secondary"><i class="ri-edit-box-line"></i></a>
                {% comment %} modal view student {% endcomment %}
                <div class="modal" bis_skin_checked="1" id="mymodal{{student.id}}" tabindex="-1" aria-labelledby="mymodellabel1" aria-hidden="true" >
                  <div class="modal-dialog" role="document" bis_skin_checked="1">
                    <div class="modal-content" bis_skin_checked="1">
                      <div class="modal-header" bis_skin_checked="1">
                        <h5 class="modal-title"><i class="ri-profile-line"></i> {{student.student_name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                      </div>
                      <div class="modal-body" bis_skin_checked="1">
                        <p><i class="ri-profile-line"></i> ID : <strong>{{student.id}}</strong></p>
                        <p><i class="ri-user-3-line"></i> Full Name : <strong>{{student.student_name}}</strong></p>
                        <p><i class="ri-phone-line"></i> Phone No : <strong>{{student.phone_number}}</strong></p>
                        <p><i class="ri-calendar-line"></i> Date Start : <strong>{{student.date_enrolled}}</strong></p>
                        <p><i class="ri-time-line"></i> Time Slot : <strong>{{student.time_slot}}</strong></p>
                        <p><i class="ri-car-line"></i> Vehicle Type : <strong>{{student.vehicle_type}}</strong></p>
                        <p><i class="ri-pass-valid-fill"></i> Enrollment Status : <strong>{{student.enrollment_status}}</strong></p>
                        <p><i class="ri-wallet-2-line"></i> Payment Status: <strong>{{student.payment_status}}</strong></p>
                        <p><i class="ri-money-dollar-box-line"></i> Final Amount: <strong>{{student.final_amount}}</strong></p>
                        <p><i class="ri-map-pin-user-line"></i> Staff Assigned: <strong>{{student.staff_assigned}}</strong></p>
                      </div>
                      <div class="modal-footer" bis_skin_checked="1">
                        <a href="{% url "editstudent" student.id %}"type="button" class="btn btn-warning"><i class="ri-edit-box-line"></i> Edit Student</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
      
              </td>
             </tr>
             {% endfor %}
              </tbody>
            </table>
          </div>
          </p>
        </div>
      {% else %}
      <div class="alert alert-dismissible alert-warning m-4" bis_skin_checked="1" >
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Opps!</h4>
        <p class="mb-0">Looks like, You haven't added a <strong>Student</strong> yet. Please add the student and refresh this page. <a href="#" class="alert-link">Add a student</a>.</p>
      {% endif %}
      </div>
    </div>
  </div>
</div>


{% endblock body %}