{% extends "management/base.html" %}
{% block Title %}Staffs List{% endblock Title %}
{% block body %}
<div class="container-fluid">
    <h4 class="m-3 mt-5"><i class="ri-list-check"></i> Staffs List</h4>
    <div class="row">
      <div class="col-12">
        {% if staffs %}
        <div class="card text-white bg-primary m-3" bis_skin_checked="1">
          <div class="card-header" bis_skin_checked="1"><i class="ri-user-fill"></i> STAFFS RECORD</div>
          <div class="card-body" bis_skin_checked="1">
            <div class="alert alert-dismissible alert-danger " bis_skin_checked="1">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <h4 class="alert-heading">Warning!</h4>
              <p class="mb-0">This is a staff records page, Don't edit unless you are sure about it !. If you want to view and edit students , <a href="{% url "index" %}" class="alert-link">GO TO DASHBOARD</a>.</p>
            </div>
            <form class="d-flex">
              <input class="form-control me-sm-2" style="max-width: 20rem;" type="search" placeholder="Search Staff">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="ri-search-line"></i></button>
            </form>

            <p class="card-text">
              <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="table-primary">
                    <th scope="col">ID</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Tutor Type</th>
                    <th scope="col">Active Students</th>
                    <th scope="col">Total Students</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
               {% for staff in staffs %}
               <tr>
                <td>{{ staff.staff_id }}</td>
                <td>{{ staff.staff_name }}</td>
                <td>{{ staff.phone_number }}</td>
                <td>{{ staff.tutor_type }}</td>
                <td>{{staff.active_students_count}}</td>
                <td>{{staff.total_students_count}}</td>
                <td><a type="button" class="btn btn-primary" href="{% url 'view_staff' staff.staff_id%}" data-bs-toggle="modal" data-bs-target="#mymodal{{staff.staff_id}}"
                  ><i class="ri-eye-line"></i></a>
                  {% comment %} modal view staff {% endcomment %}
                  <div class="modal" bis_skin_checked="1" id="mymodal{{staff.staff_id}}" tabindex="-1" aria-labelledby="mymodellabel1" aria-hidden="true" >
                    <div class="modal-dialog" role="document" bis_skin_checked="1">
                      <div class="modal-content" bis_skin_checked="1">
                        <div class="modal-header" bis_skin_checked="1">
                          <h5 class="modal-title"><i class="ri-profile-line"></i>Staff : {{staff.staff_name}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                          </button>
                        </div>
                        <div class="modal-body" bis_skin_checked="1">
                          <p><i class="ri-profile-line"></i> ID : <strong>{{staff.staff_id}}</strong></p>
                          <p><i class="ri-user-3-line"></i> Full Name : <strong>{{staff.staff_name}}</strong></p>
                          <p><i class="ri-phone-line"></i> Phone No : <strong>{{staff.phone_number}}</strong></p>
                          <p><i class="ri-car-line"></i> Tutor Type : <strong>{{staff.tutor_type}}</strong></p>
                          <p><i class="ri-map-pin-user-line"></i> Active Students: <strong>{{staff.active_students_count}}</strong></p>
                          <p><i class="ri-map-pin-user-line"></i> Total Students: <strong>{{staff.total_students_count}}</strong></p>
                        </div>
                        <div class="modal-footer" bis_skin_checked="1">
                          <button type="button" class="btn btn-danger"><i class="ri-edit-box-line"></i> Edit Staff</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="btn btn-secondary"href=" {% url "staff_students" staff.staff_id %}"><i class="ri-user-3-line"></i></a>
                </td>
               </tr>
               {% endfor %}
                </tbody>
              </table>
              <a class="btn btn-success" href="{% url "addstaff" %}">Add new staff</a>
            </div>
            </p>
          </div>
        {% else %}
        <div class="alert alert-dismissible alert-danger m-4" bis_skin_checked="1" >
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          <h4 class="alert-heading">Opps!</h4>
          <p class="mb-0">Looks like, You haven't added a <strong>Staffs</strong> yet. Please add the Staff and refresh this page. <a href="{% url "addstaff" %}" class="alert-link">Add a Staff</a>.</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock body %}